<div id="message-<%= message.id %>">
  <small>
    <strong>
      <%= favorite.user.username if message.role == "searcher" %>
      <%= favorite.shelter_user.name if message.role == "shelter" %>
    </strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
