<div
    id="message-<%= message.id %>"
    class="message <%= message.role == user_role ? 'sent' : 'received' %>"
    data-controller="message"
    data-message-user-role-value="<%= message.role %>">
  <small class="message-info">
    <strong>
      <%= message.searcher_user.username if message.role == "searcher" %>
      <%= message.shelter_user.name if message.role == "shelter" %>
    </strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p class="message-content"><%= message.content %></p>
</div>
