<h1>Dogs Index Page</h1>

<%= link_to '<i class="fa-solid fa-arrow-left"></i> back to home'.html_safe, root_path %>

<% if shelter? %>
    <h3>all dogs of shelter: <%= @shelter_name %></h3>
    <%= link_to "Add dog", new_dog_path %>
<% end %>

<% if searcher? %>
  <p><%= link_to "Checkout your favorite dogs", favorites_path %></p>
<% end %>

<% @dogs.each do |dog| %>
    <h2><%= link_to dog.name, dog_path(dog)  %></h2>
<% end %>
