<h1>Dogs Show Page</h1>
<%= link_to '<i class="fa-solid fa-arrow-left"></i> back to all dogs'.html_safe, dogs_path %>

<h2><%= @dog.name %></h2>

<% if shelter? %>
  <%= render "shared/cardshow", dog: @dog, favorite: @favorite %>
<% end %>


<% if searcher? %>
  <%= render "shared/cardshow", dog: @dog, favorite: @favorite %>
  <%= link_to "Checkout your favorite dogs", favorites_path %>
<% end %>
