<h1>Dogs Show Page</h1>
<%= link_to '<i class="fa-solid fa-arrow-left"></i> back to all dogs'.html_safe, dogs_path %>

<h2><%= @dog.name %></h2>

<% if shelter? %>
    <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_dog_path%>
    <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@dog.name}?"} %>
<% end %>


<% if searcher? %>
  <h3>Add <%= @dog.name %> to favorites</h3>
  <%= simple_form_for [@dog, @favorite] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Checkout your favorite dogs", favorites_path %>
<% end %>
