<div class="col">
  <%= link_to dog_path(favorite.dog) do %>
  <div class="card h-100">
    <div class="dog-image-wrapper">
      <% if favorite.dog.photos.attached? %>
        <%= cl_image_tag dog.photos.first.key, crop: :fill, gravity: :auto, class: "dog-show-img" %>
        <% if favorite.dog.photos.many? %>
          <div class="dog-thumbnails mt-2">
            <% favorite.dog.photos.each do |photo| %>
              <%= cl_image_tag photo.key, crop: :fill, gravity: :auto, class: "dog-thumb-img" %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="dog-show-img placeholder"></div>
      <% end %>
    </div>

    <% if favorite.dog.photos.attached? %>
      <% favorite.dog.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill, gravity: :auto, class: "dog-card-img" %>
      <% end %>
    <% else %>
      <div class="dog-card-img background"></div>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= favorite.dog.name %></h5>
      <p class="card-text"><%= favorite.dog.age %> years old</p>
      <div class="heart-button">
        <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, dog_favorite_path(favorite.dog, favorite), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{favorite.dog.name} from your favorites?"} %></p>
      </div>    <%# <a href="#" class="btn btn-main">Add to favorite</a> %>
      <div class="heart-button" style="right: 60px">
        <%= link_to '<i class="fa-solid fa-message"></i>'.html_safe, favorite_chats_path(favorite), data: { turbo_method: :post }%>
      </div>
    </div>
  </div>
  <% end %>
</div>
