
  <div class="col">
    <%= link_to dog_path(dog) do %>
    <div class="card h-100 dog-index-card">
      <% if searcher? %>        
        <div class="dog-index-heart">
          <% if (favorite = dog.favorites.find_by(user: current_user)) %>
            <i class="fa-solid fa-heart"></i>
          <% else %>
            <i class="fa-regular fa-heart"></i>
          <% end %>
        </div>
      <% end %>
      <% if dog.photos.attached? %>
        <%# <%= cl_image_tag dog.photos.first.key, crop: :fill, gravity: :auto, class: "dog-index-img" %>       
        <%= image_tag url_for(dog.photos.first), crop: :fill, gravity: :auto, class: "dog-index-img" %>
      <% else %>
        <div class="dog-index-img background"></div>
      <% end %>
      <div class="card-body">
        <div class="card-body-columns">
          <div>
            <h2 class="card-title ms-2"><%= dog.name %></h2>
          </div>
          <div class="text-end me-2">
            <p class="card-text"><%= dog.gender %> </p>
            <% if dog.age == 1 %>
              <p class="card-text"><%= dog.age %> year old</p>
            <% else %>
              <p class="card-text"><%= dog.age %> years old</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
