<div class="mt-4">
  <div class="row">
    <!-- Left column: image -->
    <div class="col-md-6">
      <div class="dog-image-wrapper">
      <% if dog.photos.attached? %>
        <%= cl_image_tag dog.photos.first.key,
        crop: :fill, gravity: :auto,
        class: "dog-show-img",
        id: "main-dog-image" %>
      <% else %>
        <div class="dog-show-img background"></div>
      <% end %>
      </div>
    <% if @dog.photos.many? %>
      <div class="dog-thumbnails mt-2" data-controller="dog-gallery">
        <% @dog.photos.each_with_index do |photo, index| %>
          <%= cl_image_tag photo.key,
              crop: :fill, gravity: :auto,
              class: "dog-thumb-img",
              data: { action: "click->dog-gallery#switch",
                      target: "dog-gallery.thumbnail",
                      full: cl_image_path(photo.key, crop: :fill, gravity: :auto) } %>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="col-md-6">
      <div class="card p-1 mt-2">
        <div class="card-body">
          <h2 class="card-title"><%= @dog.name %></h2>
          <p class="text-muted">
            <%= @dog.age %> years old
            <% if @dog.gender.present? %> • <%= @dog.gender.capitalize %><% end %>
            <% if @dog.info.present? %> • <br><%= @dog.info %><% end %>
          </p>

          <hr>

          <% if @dog.main_breed.present? %>
            <p><strong>Main breed:</strong> <%= @dog.main_breed %></p>
          <% end %>
          <p><strong>Breed type:</strong> <%= @dog.breed_grade %> (<%= @dog.breed_category %>)</p>
          <p><strong>Restricted breed:</strong> <%= @dog.restricted_breed ? "Yes" : "No" %></p>
          <% if @dog.breed_mix.present? %>
            <p><strong>Breed mix:</strong> <%= @dog.breed_mix %></p>
          <% end %>

          <hr>

          <h5>Physical Info</h5>
          <p><strong>Shoulder height:</strong> <%= @dog.shoulder_height %> cm</p>
          <p><strong>Weight:</strong> <%= @dog.weight %> kg</p>
          <p><strong>Neutered:</strong> <%= @dog.neutered ? "Yes" : "No" %></p>
          <p><strong>Birthday:</strong> <%= @dog.birthday&.strftime("%B %d, %Y") || "Unknown" %></p>

          <hr>

          <h5>Health</h5>
          <p><strong>Microchipped:</strong> <%= @dog.chipped ? "Yes" : "No" %></p>
          <p><strong>Health issues:</strong> <%= @dog.health_issues ? "Yes" : "No" %></p>
          <% if @dog.health_issues_details.present? %>
            <p><strong>Details:</strong> <%= @dog.health_issues_details %></p>
          <% end %>

          <hr>

          <h5>Compatibility</h5>
          <p><strong>With male dogs:</strong> <%= @dog.male_compatible.capitalize %></p>
          <p><strong>With female dogs:</strong> <%= @dog.female_compatible.capitalize %></p>
          <p><strong>With cats:</strong> <%= @dog.cat_compatible.capitalize %></p>
          <p><strong>With kids:</strong> <%= @dog.kids_compatible.capitalize %></p>
          <p><strong>Beginner friendly:</strong> <%= @dog.beginner_friendly ? "Yes" : "No" %></p>

          <hr>

          <h5>Environment</h5>
          <p><strong>Taken care by: <%= @dog.user.name %></strong>
          <p><strong>In shelter since:</strong> <%= @dog.in_shelter_since&.strftime("%B %d, %Y") || "Unknown" %></p>
          <p><strong>Current location:</strong> <%= @dog.location %></p>
          <p><strong>Ideal environment:</strong> <%= @dog.ideal_environment %></p>


          <div class="d-flex gap-3 align-items-center">
            <% if shelter? %>
            <div class="heart-button">
              <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_dog_path%>
              <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, dog_path(dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{dog.name}?"} %>
            </div>
            <% end %>

            <% if searcher? %>
              <% if (favorite = @dog.favorites.find_by(user: current_user)) %>
                <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, dog_favorite_path(@dog, favorite), data: {turbo_method: :delete, turbo_confirm: "Remove #{@dog.name} from favorites?"}, id: "heart-button-bordered" %>
              <% else %>
                <%= simple_form_for [@dog, Favorite.new] do |f| %>
                  <%= button_tag type: 'submit', id: "heart-button-bordered" do %>
                    <i class="fa-regular fa-heart"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if searcher? %>
  <div class="shelter-profile card mt-4 p-1">
  <div class="card-body">
    <h4 class="card-title">Shelter Information</h4>
    <p><strong>Name:</strong> <%= dog.user.name %></p>
    <p><strong>Type:</strong> <%= dog.user.shelter_type %></p>
    <p><strong>Location:</strong> <%= dog.user.location %></p>

    <img id="shelter-map" class="shelter-map mt-3" src="https://api.mapbox.com/geocoding/v5/mapbox.places/2.346,48.8595,11.72,0,0/600x300?access_token=<%= @MAPBOX_API_KEY %>"  alt="<%= dog.user.location %>">

  </div>
</div>
<% end %>
