<nav class="navbar-top">
    <div>PAWNDER Logo</div>
</nav>

<nav class="navbar-bottom">
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-house-chimney"></i>'.html_safe, root_path, class: "nav-link" %>
    </li>

    <% if searcher? %>
      <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, favorites_path, class: "nav-link" %>
    </li>
    <% end %>

    <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-dog"></i>'.html_safe, dogs_path, class: "nav-link" %>
    </li>

    <% if searcher? %>
      <li class="nav-item">
        <%= link_to '<i class="fa-solid fa-comment"></i>'.html_safe, ai_chats_path, class: "nav-link", data: { turbo_method: :post } %>
      </li>
    <% end %>

    <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-inbox"></i>'.html_safe, "#", class: "nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-house-chimney"></i>'.html_safe, new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-dog"></i>'.html_safe, new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-comment"></i>'.html_safe, new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to '<i class="fa-solid fa-inbox"></i>'.html_safe, new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>
</nav>
