
<%= link_to '<i class="fa-solid fa-arrow-left"></i> back to your chats'.html_safe, chats_path %>
<div class="chat-div">
  <div class="d-flex align-items-center pb-1">
    <%= image_tag "avatar_placeholder.jpg", class: "chat-avatar me-3", alt: "Avatar" %>
    <div>
      <% other_user = searcher? ?  @chat.shelter.name : @chat.searcher.username  %>
      <h2 class="mb-0"><%= "Your chat about #{@chat.dog.name} with #{other_user}" %></h2>
    </div>
  </div>

  <%= turbo_stream_from "chat_#{@chat.id}_messages" %> <%# Subscribe the chat_id_messages client to a Turbo Stream channel %>
  <div id="messages" class="messages">
    <% @chat.messages.each do |message| %>
      <%= render "messages/message", message: message, user_role: current_user.role %>
    <% end %>
  </div>

  <%= simple_form_for [@chat, @message],
    html: {class: "d-flex",
            data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>
    <% other_user = searcher? ?  @chat.shelter : @chat.searcher %> <%# for display in placeholder form %>
    <%= f.input :content,
      label: false,
      placeholder: "Message #{searcher? ? other_user.name : other_user.username}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-main mb-3" %>
  <% end %>
</div>
