<div class="container chat">
  <h1>
    Your chat with <%= searcher? ? @favorite.shelter_user.name : @favorite.user.username %>
    about <%= @chat.dog.name %>
  </h1>

  <%= turbo_stream_from "chat_#{@chat.id}_messages" %> <%# Subscribe the chat_id_messages client to a Turbo Stream channel %>
  <div id="messages" class="messages">
    <% @chat.messages.each do |message| %>
      <%= render "messages/message", message: message, favorite: @favorite, user_role: current_user.role %>
    <% end %>
  </div>

  <%= simple_form_for [@chat, @message],
    html: {class: "d-flex",
            data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>
    <% other_user = current_user == @favorite.shelter_user ?  @favorite.user : @favorite.shelter_user %>
    <%= f.input :content,
      label: false,
      placeholder: "Message #{searcher? ? other_user.name : other_user.username}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
