<h1>Set up your<br>preferences to find<br>your perfect dog</h1>

<div class="pref-show-present">
    <h5>Current set up</h5>
    <% if @preference.gender.present? || @preference.age_min.present? || @preference.age_max.present? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Basics</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <% if @preference.gender.present? %>
                    <p>A <%= @preference.gender %> dog</p>
                <% end %>
                <% if @preference.age_min.present? && @preference.age_max.present? %>
                    <p>Between <%= @preference.age_min %> and <%= @preference.age_max %> years old</p>  
                <% elsif @preference.age_min.present? %>
                    <p>Minimum age of <%= @preference.age_min %> years</p>     
                <% elsif @preference.age_max.present? %>
                    <p>Maximum age of <%= @preference.age_max %> years</p>  
                <% end %>
            </div>
        </div>
    <% end %>

    <% if @preference.breed_grade.any? || @preference.breed_category.any? || @preference.weight_min.present? || @preference.weight_max.present? ||
        @preference.shoulder_height_min.present? || @preference.shoulder_height_max.present? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Breed + Body</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <% if @preference.breed_grade.any? %>
                    <p>Breed grades</p>
                    <% @preference.breed_grade.each do |value| %>
                        <li><%= value %></li>
                    <% end %>
                <% end %>
                <% if @preference.breed_category.any? %>
                    <p>Preferred breed categories</p>
                    <% @preference.breed_category.each do |value| %>
                        <li><%= value %></li>
                    <% end %>
                <% end %>
                <% if @preference.weight_min.present? && @preference.weight_max.present? %>
                    <p>Weight between <%= @preference.weight_min %> and <%= @preference.weight_max %> kg</p>  
                <% elsif @preference.weight_min.present? %>
                    <p>Minimum weight of <%= @preference.weight_min %> kg</p>     
                <% elsif @preference.weight_max.present? %>
                    <p>Maximum weight of <%= @preference.weight_max %> kg</p>  
                <% end %>
                <% if @preference.shoulder_height_min.present? && @preference.shoulder_height_max.present? %>
                    <p>Shoulder height between <%= @preference.shoulder_height_min %> and <%= @preference.shoulder_height_max %> cm </p>  
                <% elsif @preference.shoulder_height_min.present? %>
                    <p>Minimum shoulder height of <%= @preference.shoulder_height_min %> cm</p>     
                <% elsif @preference.shoulder_height_max.present? %>
                    <p>Maximum shoulder height of <%= @preference.shoulder_height_max %> cm</p>  
                <% end %>
            </div>
        </div>
    <% end %>

    <% if @preference.ideal_environment.any? || @preference.beginner_friendly.present? || @preference.restricted_breed.present? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Environment + Experience</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <% if @preference.ideal_environment.any? %>
                    <p>Enviroment you can provide</p>
                    <% @preference.ideal_environment.each do |value| %>
                        <li><%= value %></li>
                    <% end %>
                <% end %>
                <% if @preference.beginner_friendly %>
                    <p>Your perfect dog should be beginner friendy</p>  
                <% end %>
                <% if @preference.restricted_breed %>
                    <p>Your dog shouldn't belong to a destricted breed</p>  
                <% end %>
            </div>
        </div>
    <% end %>

    <% if @preference.male_compatible.present? || @preference.female_compatible.present? || @preference.cat_compatible.present? || @preference.kids_compatible.present? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Compatibilities</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <p>Your dog should be compatible with</p> 
                <% if @preference.male_compatible %>
                    <li>male dogs</li>  
                <% end %>
                <% if @preference.female_compatible %>
                    <li>female dogs</li>  
                <% end %>
                <% if @preference.cat_compatible %>
                    <li>cats</li>  
                <% end %>
                <% if @preference.kids_compatible %>
                    <li>kids / family compatible</li>  
                <% end %>
            </div>
        </div>
    <% end %>

    <% if @preference.health_issues.present? || @preference.neutered.present? || @preference.location.any? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Health + Location</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <% if @preference.health_issues %>
                    <p>Your dog shouldn't have any health issues</p>  
                <% end %>
                <% if @preference.neutered %>
                    <p>Your dog should be neutered/sprayed</p>  
                <% end %>
                <% if @preference.location.any? %>
                    <% @preference.location.each do |value| %>
                        <p><%= value %></p>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<div class="pref-show-btns">
    <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_preference_path, class: 'btn-main' %>
    <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, preference_path(@preference),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your preferences?"}, class: 'btn-main' %>
</div>
