<h1>Set up your<br>preferences to find<br>your perfect dog</h1>

<div class="pref-show-present">
    <h5>Current set up</h5>
    <% if @preference.gender.present? || @preference.age_min.present? || @preference.age_max.present? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Basics</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <% if @preference.gender.present? && @preference.gender == "female" %>
                    <li><%= @preference.gender %> dog<i class="fa-solid fa-venus brand-pink"></i></li>
                <% elsif @preference.gender.present? && @preference.gender == "male" %>
                    <li><%= @preference.gender %> dog<i class="fa-solid fa-mars brand-blue"></i></li>
                <% end %>
                <% if @preference.age_min.present? && @preference.age_max.present? %>
                    <li>between <%= @preference.age_min %> and <%= @preference.age_max %> years old</li>  
                <% elsif @preference.age_min.present? %>
                    <li>min <%= @preference.age_min %> years old</li>     
                <% elsif @preference.age_max.present? %>
                    <li>max <%= @preference.age_max %> years old</li>  
                <% end %>
            </div>
        </div>
    <% end %>

    <% if @preference.breed_grade.any? || @preference.breed_category.any? || @preference.weight_min.present? || @preference.weight_max.present? ||
        @preference.shoulder_height_min.present? || @preference.shoulder_height_max.present? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Breed + Body</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <% if @preference.breed_grade.any? %>
                    <p class="mt-1">Breed grades</p>
                    <% @preference.breed_grade.each do |value| %>
                        <li><%= value %></li>
                    <% end %>
                <% end %>
                <% if @preference.breed_category.any? %>
                    <p class="mt-3">Preferred breed categories</p>
                    <% @preference.breed_category.each do |value| %>
                        <li><%= value %></li>
                    <% end %>
                <% end %>
                <div class="pref-show-oneliner d-flex">                    
                    <% if @preference.weight_min.present? && @preference.weight_max.present? %>
                        <i class="fa-solid fa-weight-scale brand-blue"></i>
                        <p>between <%= @preference.weight_min %> - <%= @preference.weight_max %> kg</p>  
                    <% elsif @preference.weight_min.present? %>
                        <i class="fa-solid fa-weight-scale brand-blue"></i>
                        <p>min <%= @preference.weight_min %> kg</p>     
                    <% elsif @preference.weight_max.present? %>
                        <i class="fa-solid fa-weight-scale brand-blue"></i>
                        <p>max <%= @preference.weight_max %> kg</p>  
                    <% end %>

                    <% if @preference.shoulder_height_min.present? && @preference.shoulder_height_max.present? %>
                        <p>•</p>
                        <i class="fa-solid fa-ruler-vertical brand-blue"></i>
                        <p>between <%= @preference.shoulder_height_min %> - <%= @preference.shoulder_height_max %> cm </p>  
                    <% elsif @preference.shoulder_height_min.present? %>
                        <p>•</p>
                        <i class="fa-solid fa-ruler-vertical brand-blue"></i>
                        <p>min <%= @preference.shoulder_height_min %> cm</p>     
                    <% elsif @preference.shoulder_height_max.present? %>
                        <p>•</p>
                        <i class="fa-solid fa-ruler-vertical brand-blue"></i>
                        <p>max <%= @preference.shoulder_height_max %> cm</p>  
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>

    <% if @preference.ideal_environment.any? || @preference.beginner_friendly.present? || @preference.restricted_breed.present? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Environment + Experience</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <% if @preference.beginner_friendly %>
                    <li>beginner friendly</li>  
                <% end %>
                <% if @preference.restricted_breed %>
                    <li>no restricted breed<i class="fa-solid fa-ban brand-red"></i></li>  
                <% end %>
                <% if @preference.ideal_environment.any? %>
                    <p class="mt-3">Enviroment you can provide</p>
                    <% @preference.ideal_environment.each do |value| %>
                        <li><%= value %></li>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>

    <% if @preference.male_compatible.present? || @preference.female_compatible.present? || @preference.cat_compatible.present? || @preference.kids_compatible.present? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Compatibilities</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <p>Should be compatible with</p> 
                <% if @preference.male_compatible %>
                    <li>male dogs<i class="fa-solid fa-mars brand-blue"></i></li>  
                <% end %>
                <% if @preference.female_compatible %>
                    <li>female dogs<i class="fa-solid fa-venus brand-pink"></i></li>  
                <% end %>
                <% if @preference.cat_compatible %>
                    <li>cats<i class="fa-solid fa-cat brand-blue"></i></li>  
                <% end %>
                <% if @preference.kids_compatible %>
                    <li>kids / family compatible<i class="fa-solid fa-children brand-green"></i></li>  
                <% end %>
            </div>
        </div>
    <% end %>

    <% if @preference.health_issues.present? || @preference.neutered.present? || @preference.location.any? %>
        <div class="dog-form-div" data-controller="toggle-pref-divs">
            <div class="d-flex justify-content-between align-items-baseline" data-action="click->toggle-pref-divs#toggle" >
                <p class="pref-show-div-header">Health + Location</p>
                <i data-toggle-pref-divs-target="plus" class="fa-solid fa-plus d-none"></i>
                <i data-toggle-pref-divs-target="minus" class="fa-solid fa-minus"></i>
            </div>
            <div data-toggle-pref-divs-target="body" class="">
                <% if @preference.health_issues %>
                    <li>no health issues<i class="fa-solid fa-heart-pulse brand-red"></i></li>  
                <% end %>
                <% if @preference.neutered %>
                    <li>neutered/sprayed</li>  
                <% end %>
                <% if @preference.location.any? %>
                    <p class="mt-3">Location<i class="fa-solid fa-location-pin brand-blue"></i></p>
                    <% @preference.location.each do |value| %>
                        <li><%= value %></li>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<div class="pref-show-btns">
    <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_preference_path, class: 'btn-main' %>
    <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, preference_path(@preference),
        data: {controller: "confirmalert",
                action: "click->confirmalert#confirm",
                "confirmalert-message-value": "Are you sure you want to delete your preferences?",
                "confirmalert-url-value": preference_path(@preference),
                "confirmalert-method-value": :delete
                }, class: 'btn-main' %>
</div>
