<h1>Your dog preferences</h1>

<%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_preference_path%>
<%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, preference_path(@preference), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your preferences?"} %>

<div>
    <p>Basics</p>

    <% if @preference.gender.present? %>
        <p>A <%= @preference.gender %> dog</p>
    <% end %>

    <% if @preference.age_min.present? && @preference.age_max.present? %>
        <p>Between <%= @preference.age_min %> and <%= @preference.age_max %> years old</p>  
    <% elsif @preference.age_min.present? %>
        <p>Minimum age of <%= @preference.age_min %> years</p>     
    <% elsif @preference.age_max.present? %>
        <p>Maximum age of <%= @preference.age_max %> years</p>  
    <% end %>
</div>

<div>
    <p>Breed + Body</p>

    <% if @preference.breed_grade.any? %>
        <% @preference.breed_grade.each do |value| %>
            <p><%= value %></p>
        <% end %>
    <% end %>

    <% if @preference.breed_category.any? %>
        <% @preference.breed_category.each do |value| %>
            <p><%= value %></p>
        <% end %>
    <% end %>

    <% if @preference.weight_min.present? && @preference.weight_max.present? %>
        <p>Weight between <%= @preference.weight_min %> and <%= @preference.weight_max %> kg</p>  
    <% elsif @preference.weight_min.present? %>
        <p>Minimum weight of <%= @preference.weight_min %> kg</p>     
    <% elsif @preference.weight_max.present? %>
        <p>Maximum weight of <%= @preference.weight_max %> kg</p>  
    <% end %>

    <% if @preference.shoulder_height_min.present? && @preference.shoulder_height_max.present? %>
        <p>Shoulder height between <%= @preference.shoulder_height_min %> and <%= @preference.shoulder_height_max %> cm </p>  
    <% elsif @preference.shoulder_height_min.present? %>
        <p>Minimum shoulder height of <%= @preference.shoulder_height_min %> cm</p>     
    <% elsif @preference.shoulder_height_max.present? %>
        <p>Maximum shoulder height of <%= @preference.shoulder_height_max %> cm</p>  
    <% end %>
</div>

<div>
    <p>Environment + Experience</p>

    <% if @preference.ideal_environment.any? %>
        <% @preference.ideal_environment.each do |value| %>
            <p><%= value %></p>
        <% end %>
    <% end %>

    <% if @preference.beginner_friendly %>
        <p>Your perfect dog should be beginner friendy</p>  
    <% end %>

    <% if @preference.restricted_breed %>
        <p>Your dog shouldn't belong to a destricted breed</p>  
    <% end %>

</div>

<div>
    <p>Compatibilities</p>

    <% if @preference.male_compatible %>
        <p>Your dog should be compatible with male dogs</p>  
    <% end %>
    <% if @preference.female_compatible %>
        <p>Your dog should be compatible with female dogs</p>  
    <% end %>
    <% if @preference.cat_compatible %>
        <p>Your dog should be compatible with cats</p>  
    <% end %>
    <% if @preference.kids_compatible %>
        <p>Your dog should be friendly towards children / family compatible</p>  
    <% end %>
</div>

<div>
    <p>Health + Location</p>

    <% if @preference.health_issues %>
        <p>Your dog shouldn't have any health issues</p>  
    <% end %>
    <% if @preference.neutered %>
        <p>Your dog should be neutered/sprayed</p>  
    <% end %>

    <% if @preference.location.any? %>
        <% @preference.location.each do |value| %>
            <p><%= value %></p>
        <% end %>
    <% end %>

</div>
