<!DOCTYPE html>
<html>
  <head>
    <title>Pawnder</title>
    <meta name="description" content="Pawnder - the app that concects people with fitting shelter dogs">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_include_tag "turbo", type:"module" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-current-user-role="<%= current_user ? current_user.role : "" %>">
    <%= render "shared/tabs" %>
    <%= render "shared/avatar" %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <main id="main-content">
    <%= yield %>
    </main>
  </body>
</html>
